*{
    margin:0;
    padding:0;
    background:none;
    outline:none;
    border:none;
    box-sizing:border-box;
    
}
:root{
    --Desaturated-Red: hsl(0, 36%, 70%);
    --Soft-Red: hsl(0, 93%, 68%);
    --Dark-Grayish-Red: hsl(0, 6%, 24%);
    --Background-gridients1:linear-gradient(135deg,  hsl(0, 0%, 100%), hsl(0, 100%, 98%));--Background-gridients2:linear-gradient(135deg,  hsl(0, 49%, 89%),  hsla(0, 66%, 74%, 0.829));
    
}
html{
    width:100vw;
    height:100vh;
}

body{
    width:100%;
    height:100%;
    font-family:'Josefin Sans', sans-serif;
    font-size:62.2%;
    background:var( --Background-gridients1);
}



.wrapper{
    display:flex;
    width:100%;
    height:100%;
    align-items:center;
    justify-content:center;
    
}

.container{
    width:80%;
    
    display:grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows:50px;
    grid-template-areas:'Logo image ' 'cont image' ;
    background:var(--Background-gridients2);
    overflow:hidden;
    border-radius:0 1rem 1rem 0;
    gap:2rem;
    

}



.logo{
    grid-area:Logo;
   padding:3rem;
    grid-column:1;
    
}
.text{
    grid-area:cont;
    grid-row:  2/3;
    grid-column:1/2;
    padding:3rem;
}

.text > h1{
text-transform:uppercase;
line-height:2.5rem;
font-size:2rem;
letter-spacing:0.7rem;
font-weight:500;
margin-bottom:1.5rem;

}

.text > h1 span{
    color:var(--Desaturated-Red);
    font-weight:200;
}

.text > .descricao{
    margin-bottom:1.5rem;
    font-size:0.7rem;
    word-spacing:.2rem;
    line-height:1.2rem;
    color:var(--Desaturated-Red);
}
.image{
    
    max-width:100%;
    grid-row:  1 / 3;
    grid-column:2/3;
}
.image > img{
    max-width:100%;
}